@charset "UTF-8";
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* -----------------------*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}

main {
  flex: 1 1 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.button {
<<<<<<< HEAD
  display: inline-block;
  padding: 8px 15px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #68a2ca;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button:focus {
  outline: 3px solid #615048;
=======
  display: block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756257;
  border-radius: 4px;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__nav {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
  padding: 0 72px;
  min-height: 65px;
}
.header__logo {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
}
.header__logo img {
  display: block;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
<<<<<<< HEAD
.header__item {
  display: flex;
  align-items: center;
}
.header__item--active {
  position: relative;
}
.header__item--active::after {
  position: absolute;
  content: "";
  right: 17px;
  left: 17px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}
=======
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
.header__link {
  display: block;
  padding: 19.5px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}
<<<<<<< HEAD
.header__link:hover {
  color: #756257;
}
.header__link:active {
  color: #756257;
  opacity: 0.3;
}
=======
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
.header__additional-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
<<<<<<< HEAD
  justify-content: flex-end;
  max-width: 322px;
=======
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}

.additional-menu__button {
  width: 42px;
  height: 42px;
<<<<<<< HEAD
  position: relative;
}
.additional-menu__counter {
  position: absolute;
  top: 3px;
  right: -3px;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
}

.nav__icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #000000;
}

.additional-menu__button:hover svg {
  fill: #756257;
}

.additional-menu__button:active svg {
  fill: rgba(117, 98, 87, 0.3);
}

.additional-menu__button:active .additional-menu__counter {
  color: rgba(255, 255, 255, 0.3);
}

.secondary-button {
  background: #756257;
  min-width: 160px;
  margin-left: 20px;
  font-size: 20px;
}

.secondary-button:hover {
  background: #615048;
}

.secondary-button:active {
  background: #615048;
}

.secondary-button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.main__promo {
  min-height: 485px;
  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-position: 50% calc(50% - 16px), 50% 100%, 50% 50%;
  background-size: auto auto, 100% auto, cover;
  background-image: url("../assets/img/welcome.svg"), url("../assets/img/divider.png"), url("../assets/img/index-background.jpg");
}

.advantages {
  text-align: center;
}
.advantages__content {
  padding: 62px 240px 87px;
=======
}
.secondary-button {
  width: 160px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  margin-left: 20px;
}

.main__promo {
  background: #83B3D3 url("../assets/img/index-background.jpg");
  height: 485px;
}

.advantages {
  margin-bottom: 80px;
}
.advantages__content {
  padding: 62px 240px 80px;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}
.advantages__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 31px;
}
.advantages__text {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
<<<<<<< HEAD
  counter-reset: advantages;
}
.advantages__discription {
  display: grid;
  align-content: start;
  gap: 26px;
  min-height: 384px;
  padding: 60px;
  padding-top: 98px;
}
.advantages__item {
  display: grid;
  gap: 30px;
  min-height: 384px;
  counter-increment: advantages;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages__discription::before {
  content: "— №" counter(advantages) " —";
}
.advantages__item:not(.advantages__item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}
=======
}
.advantages__discription {
  padding: 60px;
}
.advantages__item {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages__item:not(.advantages__item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages__item:not(.advantages__item-large) {
  padding: 60px;
}
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
.advantages__info {
  color: #333333;
  background-color: #ffffff;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(3, 1fr);
}

.advantages__item-large {
  color: #ffffff;
  background-color: #83B3D3;
<<<<<<< HEAD
  gap: 0;
  padding: 0;
=======
  display: grid;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
  grid-column: 1/-1;
  grid-template-columns: repeat(3, 1fr);
}

<<<<<<< HEAD
.advantages__item-large:nth-child(2) .item__img {
  order: -1;
}

.advantages__item-large .item__title {
  color: #ffffff;
}

.advantages__item-large .item__text {
  color: #ffffff;
}

.info__item .item__title {
  color: #000000;
}

.advantages__discription .item__title {
  order: -1;
}

=======
.advantages__discription > .item__title {
  color: #ffffff;
}

.advantages__discription > .item__text {
  color: #ffffff;
}

>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
.item__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
<<<<<<< HEAD
=======
  margin: 24px 0;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}
.item__text {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
<<<<<<< HEAD
}
.item__img {
  grid-column: span 2;
=======
  margin: 18px 0;
}
.item__img {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
  -o-object-fit: cover;
     object-fit: cover;
}

.info__item {
<<<<<<< HEAD
  display: grid;
  align-content: start;
  gap: 20px;
  min-height: 384px;
  padding: 60px;
  padding-top: 184px;
  background-repeat: no-repeat;
  background-size: 76px 76px;
  background-position: 50% 88px;
  background-color: rgba(131, 179, 211, 0.2);
  text-align: center;
}
.info__item:nth-child(even) {
  background-color: #ffffff;
=======
  background-color: rgba(131, 179, 211, 0.2);
  text-align: center;
  padding: 60px;
}
.info__item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.12);
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}
.info__title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
<<<<<<< HEAD
=======
  margin: 28px 0;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}
.info__text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
<<<<<<< HEAD
}

.info__item-house {
  background-image: url("../assets/img/icon-1.svg");
}

.info__item-food {
  background-image: url("../assets/img/icon-2.svg");
}

.info__item-present {
  background-image: url("../assets/img/icon-3.svg");
=======
  margin: 18px 0;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}

.seach {
  text-align: center;
<<<<<<< HEAD
  padding: 88px 240px 95px;
=======
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}
.seach__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 29px;
}
.seach__text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 56px;
}
.seach__button {
  width: 575px;
<<<<<<< HEAD
  font-size: 20px;
  line-height: 36px;
  padding: 12px 16px;
  border-radius: 10px;
  background: #756257;
}
.seach__button:hover {
  background: #615048;
}
.seach__button:active {
  background: #615048;
}
.seach__button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.subscribe {
  padding: 92px 200px 95px;
  text-align: center;
  background: #83B3D3 url("../assets/img/background.jpg") 0% 0%/cover no-repeat;
=======
  padding: 15px 0;
  border-radius: 10px;
  margin: 0 auto 93px;
}

.subscribe {
  background: #83B3D3 url("../assets/img/background.jpg") 0% 0%/100% auto no-repeat;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}
.subscribe__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
<<<<<<< HEAD
=======
  padding-top: 94px;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
  margin-bottom: 29px;
}
.subscribe__text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 47px;
}
.subscribe__form {
<<<<<<< HEAD
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-top: 41px;
=======
  text-align: center;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}
.subscribe__email {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  align-items: center;
}
<<<<<<< HEAD
.subscribe__field {
  width: 100%;
  height: 60px;
  padding: 8px 20px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  font-size: 18px;
}
.subscribe__button {
  height: 60px;
=======
.subscribe__button {
  height: 60px;
  display: inline-block;
  background: #83B3D3;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  line-height: 26px;
}

<<<<<<< HEAD
=======
.field {
  width: 600px;
  height: 60px;
  margin-bottom: 94px;
}

>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
.footer-container {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  padding: 40px 72px;
  gap: 30px;
}

<<<<<<< HEAD
.footer__social {
  align-self: start;
  margin-top: 8px;
}
=======
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
.footer__phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
<<<<<<< HEAD
.footer__phone:hover {
  color: #756257;
}
.footer__phone:active {
  opacity: 0.3;
}
.footer__phone:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}
.footer__developer {
  display: block;
  margin-right: -12px;
  padding: 16px 22px;
  justify-self: end;
  border-radius: 10px;
=======
.footer__developer {
  justify-self: end;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}

.social__menu {
  display: flex;
}
.social__link {
<<<<<<< HEAD
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  fill: #83b3d3;
}
.social__link:hover {
  fill: #68a2ca;
}
.social__link:active {
  opacity: 0.3;
}
.social__link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.developer__logo svg {
  fill: #000000;
}
.developer__logo:hover svg {
  fill: #756257;
=======
  width: 42px;
  height: 42px;
  display: block;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}

.container-catalog {
  background: #83B3D3 url("../assets/img/background.jpg") 0% 0%/100% auto no-repeat;
  height: 408px;
  color: #FFFFFF;
  padding: 0 72px;
}

.gallery-container {
  padding: 0 72px;
}

.catalog__header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  margin-left: 71px;
  margin-bottom: 71px;
}
.catalog__breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}
.catalog__subscribe {
  background: #83B3D3 url("../assets/img/background.jpg") 0% 0%/100% auto no-repeat;
}

.filter__form {
  display: flex;
  justify-content: space-between;
}
.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.filter__lead {
  font-size: 18px;
  line-height: 23px;
}
<<<<<<< HEAD
.filter__button {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

=======
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
.apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background: #83B3D3;
  border-radius: 4px;
<<<<<<< HEAD
  margin-bottom: 20px;
}

.reset-button {
  align-self: center;
  color: #ffffff;
=======
}

.reset-button {
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}

.range__title {
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  opacity: 0.3;
}
.range__input {
  font-size: 18px;
  line-height: 23px;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
}
.favorites-button,
.pagination-button {
  background: #83B3D3;
  border-radius: 4px;
}

.favorites-button-active {
  background: #7DB54F;
  border-radius: 4px;
}

.gallery__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 18px;
  margin-bottom: 34px;
}

.gallery {
  padding: 0 72px;
  color: #000000;
}
.gallery__title {
  width: 50%;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}
.gallery__view {
  display: flex;
  margin-right: 8px;
  margin-left: auto;
}
.gallery__view:last-child {
  margin-right: 0;
}
.gallery__card {
  display: grid;
  grid-template-columns: 1fr 26px 1fr;
  gap: 16px 0;
  padding: 20px;
}
.gallery__pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  padding: 30px 0 73px 0;
=======
  padding: 30px 0;
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}

.select-container {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  align-items: center;
}

.select__button {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.select__menu {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-right: auto;
}
.view__item {
  width: 48px;
  height: 48px;
}
.card__title {
  grid-column: 1/-1;
}
.card__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  order: -1;
  grid-column: 1/-1;
}
.card__rate {
  grid-column: 2/4;
}

.description {
  color: #333333;
}
.description__title {
  grid-column: 1/2;
  font-size: 18px;
  line-height: 23px;
}
.description__defenition {
  font-size: 18px;
  line-height: 23px;
  grid-column: 3/4;
}
.more-button {
  grid-column: 1/2;
  padding: 10px;
}

.favorites-button {
  grid-column: 3/4;
  padding: 10px;
}

.pagination-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  min-width: 620px;
}

.pagination__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.pagination__list {
  display: flex;
  flex-wrap: wrap;
}
.pagination__item {
  margin: 0 4px;
  border-radius: 4px;
  background: #83B3D3;
}
.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  height: 55px;
  padding: 8px;
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.pagination__select {
  display: flex;
}
.pagination__text {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
<<<<<<< HEAD
}

.subscribe-catalog {
  background: #fff;
}
.subscribe-catalog__title {
  color: #000;
}
.subscribe-catalog__text {
  color: #000;
=======
>>>>>>> ad6d596f3d8491a0d919dd81b8af05118f1a9b0c
}