@import "_nullstyle"; // Подключение файла ( обнуление стилей)


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans", sans-serif;
  color: #000000;

}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;

}

main {
  flex:1 1 auto;


}

.container {
  width: 1200px;
  margin:0 auto;
  background-color: #ffffff;
}


.button {
  display: block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756257;
  border-radius: 4px;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
		&__nav {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      gap: 30px;
      padding: 0 72px;
      min-height: 65px;


		}
		&__logo {
      position: relative;
      z-index: 1;
      margin-bottom: -10px;
		}
    &__logo img{
      display: block;
		}

		&__menu {
      display: flex;
      flex-wrap:wrap;
      flex-grow: 1;
		}

		&__item {

		}

		&__item--active {
		}

		&__link {
      display: block;
      padding:19.5px 17px;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      color: #000000;
      text-decoration: none;

		}

		&__additional-menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
		}
}

.additional-menu {
		&__button {

      width: 42px;
      height: 42px;

		}

		&__counter {

		}
}
.secondary-button  {
  width: 160px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  margin-left: 20px;
}





.main-page {
}
.main__promo{
  background: #83B3D3 url('../assets/img/index-background.jpg');
  height: 485px;
 }


.advantages {
  margin-bottom: 80px;

    &__content{
      padding: 62px 240px 80px;
    }
		&__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 31px;
    }
		&__text {
      font-size: 22px;
      line-height: 36px;
      text-align: center;
      color: #333333;
    }



		&__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
		}
    &__discription{
      padding: 60px;

    }
    &__img{


    }




		&__item {

        background-color: rgba(131, 179, 211, 0.12);

		}
    &__item:not(.advantages__item-large):nth-child(even) {
        background-color: rgba(131, 179, 211, 0.2);

		}
    &__item:not(.advantages__item-large){
      padding: 60px;
    }

		&__info {
      color: #333333;
      background-color: #ffffff;
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: repeat(3, 1fr);

		}}




.advantages__item-large {
    color: #ffffff;
    background-color: #83B3D3;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    }




  .advantages__discription > .item__title {
    color: #ffffff;
  }

  .advantages__discription > .item__text {
    color: #ffffff;
  }



.item {

		&__title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin: 24px 0;
		}

		&__text {
      text-align: center;
      font-size: 18px;
      line-height: 21px;
      color: #333333;
      margin: 18px 0;
		}

		&__img {
      grid-column: span 2;
      width: 100%;
      height: 0;
      min-height: 100%;
      object-fit: cover;


		}
}



.info {
    	&__item {
      background-color: rgba(131, 179, 211, 0.2);
      text-align: center;
      padding: 60px;
	}
    &__item:nth-child(2) {
      background-color: rgba(131, 179, 211, 0.12);
}
		&__title {
      color: #000000;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      margin: 28px 0;
		}

		&__text {
      font-size: 18px;
      line-height: 21px;
      color: #333333;
      margin: 18px 0;
}
}



.seach {
  text-align: center;
		&__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 29px;
		}

		&__text {
      color: #333333;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 56px;
    }

		&__button {
    width: 575px;
    padding: 15px 0;
    border-radius: 10px;
    margin: 0 auto 93px;
    }
}
.subscribe {
 background: #83B3D3 url("../assets/img/background.jpg")   0% 0% / 100% auto no-repeat ;

		&__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-top: 94px;
      margin-bottom: 29px;
		}

		&__text {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 47px;
		}

		&__form {
      text-align: center;


		}

		&__email {
      font-size: 18px;
      line-height: 26px;
      color: #000000;
      align-items: center;

		}

		&__button {
      height: 60px;
      display: inline-block;
      background: #83B3D3;
      border-radius: 0px 10px 10px 0px;
      font-size: 20px;
      line-height: 26px;

}}
.field {
  width: 600px;
  height: 60px;
  margin-bottom: 94px;

}




.footer-container{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding: 40px 72px;
  gap:30px;

}

.footer {

		&__social {

		}

		&__tel {
		}

		&__phone {
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
		}

		&__developer {
      justify-self: end;
		}
}
.social {

		&__menu {
      display: flex;

		}

		&__item {

		}

		&__link {
      width: 42px;
      height: 42px;
      display: block;

		}
}
.developer {

		&__logo {

		}
}


@import "_catalog";

